@import '../../common.variables.styl'

.dragged-dropped
  background-color rgba($secondary, .05)
  border .2rem dashed rgba($secondary, .35)
  color #fff

.dragged-over
  background-color rgba($primary, .05)
  border .2rem dashed rgba($primary, .35)
  color #fff
