@import '../../common.variables.styl'

.q-page-container
  .q-page
    background-color $dark-theme-bg-dark
    color #fff

  .q-separator--horizontal
    background rgba(gray, .25)

  .v-divide-left
    border-left 2px solid rgba(white, .05)

  .v-divide-right
    border-right 2px solid rgba(white, .05)

  .h-divide-top
    border-top 2px solid rgba(white, .05)

  .h-divide-bottom
    border-bottom 2px solid rgba(white, .05)

  .v-divide-left-dashed
    border-left 1px dashed rgba(white, .15)

  .v-divide-right-dashed
    border-right 1px dashed rgba(white, .15)

  .h-divide-top-dashed
    border-top 1px dashed rgba(white, .15)

  .h-divide-bottom-dashed
    border-bottom 1px dashed rgba(white, .15)
