// app global css

// app global css
@import './app-themes/dark/all'
@import './utilities'

body
  max-width 100vw
  overflow-x hidden
  background-color $dark-theme-bg-dark

.knob-green svg, circle, circle
  color #13ba0b !important

.knob-red svg, circle, circle
  color #f44336
