// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   = #00508C
$primary = #027be3
$secondary = #8CC63D
// $secondary = #FAAF00
$tertiary = #555
$neutral = #E0E1E2
$positive = #21BA45
$negative = #DB2828
$info = #31CCEC
$warning = #ff9800
$dark-theme-bg = #162639
// $dark-theme-bg = #252F3D
$dark-theme-bg-light = #192F48
$dark-theme-bg-dark = #0A131E
$dark-theme-fg = #eeeeee
$light-theme-bg = #f3f3f3
$light-theme-bg-light = #ffffff
$light-theme-bg-dark = #dddddd
$light-theme-fg = #333333
$toradex_blue = #00508C
$min-bar-size = 55px
